
@import "variables";

@import "reset";

header {
	background: transparent url(mm.jpg) 50% 50% no-repeat;
	background-size: cover;
	height: 390px;
	position: relative;

	h1 {
		bottom: 70px;
		text-shadow: 1px 1px 1px #000;
		color: #FFF;
		text-align: center;
		font-weight: bold;
		font-size: 8rem;
		position: absolute;
		width: 100%;
	}

	nav {
		background: #000;
		bottom: 0;
		height: 70px;
		position: absolute;
		width: 100%;

		ul {
			position: relative;

			&:before {
				border-top: 72px solid #EEE;
				border-right: 70px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				margin-left: -33px;
				left: 50%;
				top: 0;
				width: 0;
				z-index: 50;
			}
		}

		li {
			background: #FFF;
			box-sizing: border-box;
			display: inline-block;
			font-size: 5rem;
			font-weight: 200;
			height: 70px;
			padding: 10px 40px;
			position: relative;
			width: 50%;

			&:first-child {
				text-align: right;

				&:after {
					border-top: 72px solid #FFF;
					border-right: 70px solid transparent;
					content: "";
					height: 0;
					margin-left: -1px;
					position: absolute;
					right: -35px;
					top: 0;
					width: 0;
					z-index: 80;
				}
			}

			&:last-child {
				&:before {
					content: "&";
					display: block;
					left: -25px;
					position: absolute;
					width: 50px;
					text-align: center;
					z-index: 100;
				}
			}

			&:hover {
				border-color: #CCC;
			}
		}
	}
}

main {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
	padding: 20px;

	> ul > li {
		background: #FFF;
		border-radius: 5px;
		box-sizing: border-box;
		display: inline-block;
		margin: 20px 0;
		padding: 15px;
		vertical-align: top;
		width: calc(50% - 10px);

		&:nth-child(even) {
			margin-left: 20px;
		}

		article {
			position: relative;
			min-height: 100px;

			> *:not(img) {
				margin-left: 115px;
			}

			h2 {
				font-size: 3rem;
				font-weight: bold;
			}

			img {
				border-radius: 5px;
				height: 100px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100px;
			}

			ul {
				margin-top: 8px;
			}

			li {
				font-size: 1.5rem;
				font-family: Tahoma, Verdana, sans-serif;
				line-height: 150%;

				&:before {
					content: " ";
					background: #000;
					width: 1.5rem;
					height: 1.5rem;
					border-radius: 15%;
				}
			}

			a {
				background: rgb(28, 184, 65);
				border-radius: 5px;
				color: #FFF;
				display: inline-block;
				font-size: 1.6rem;
				font-family: Helvetica, Arial, sans-serif;
				margin-top: 16px;
				padding: .8rem 1.2rem;
				text-decoration: none;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
			}
		}
	}
}
